<app-nav-checkout></app-nav-checkout>

<main class="container mt-4">
  <form class="row" id="checkout">
    
    <div class="col-md-4">
      <div class="card-header bg-info text-light d-flex align-items-center">
        <img src="assets/images/caixa-de-correio.png" width="25" height="25" alt="ícone entrega">
        <b class="ml-3">Dados de Entrega</b>
      </div>

      @if (enderecos.length > 0) {
        <app-endereco [endereco]="enderecoPrincipal!"></app-endereco>
        <button type="button" class="btn btn-primary btn-block mt-2" (click)="abrirModal(listaEnderecos)">
          Alterar endereço
        </button>
      } @else {
        <div class="alert alert-warning mt-2 text-center">
          <h5>Cadastre um endereço para prosseguir...</h5>
          <button type="button" class="btn btn-success btn-sm mt-2" (click)="abrirModal(novoEndereco)">
            Cadastrar novo endereço
          </button>
        </div>
      }

      <app-forma-envio (enviarFormaDeEnvio)="receberFormaDeEnvio($event)"></app-forma-envio>
    </div>

    <div class="col-md-4">
      <div class="card-header bg-info text-light d-flex align-items-center">
        <img src="assets/images/doacao.svg" width="25" height="25" alt="ícone pagamento">
        <b class="ml-3">Dados de Pagamento</b>
      </div>
      
      <app-dados-pagamento 
        [validarDadosPagamento]="dadosDePagamento"
        (botaoFinalizarClicado)="finalizarCompra($event, modalDadosIncorretos)">
      </app-dados-pagamento>
    </div>

    <div class="col-md-4">
      <div class="card-header bg-info text-light d-flex align-items-center">
        <img src="assets/images/varejo.svg" width="25" height="25" alt="ícone resumo">
        <b class="ml-3">Resumo da compra</b>
      </div>

      <app-carrinho [frete]="formaEnvio" (enviarCupom)="receberCupom($event)"></app-carrinho>
      
      <hr>
      <div class="h4 text-right mb-3">
        Total: <span class="text-success font-weight-bold">{{ total | currency:'BRL' }}</span>
      </div>

      <button type="button" class="btn btn-success btn-lg btn-block" (click)="validarCampos(modalDadosIncorretos)">
        Finalizar compra
      </button>
    </div>

  </form>
</main>

<ng-template #novoEndereco>
  <div class="modal-body">
    <app-cadastro-endereco (novoEndereco)="cadastrarEndereco($event)"></app-cadastro-endereco>
  </div>
</ng-template>

<ng-template #listaEnderecos>
  <div class="modal-header">
    <h5 class="modal-title">Escolha o endereço</h5>
    <button type="button" class="close" (click)="modalRef?.hide()">&times;</button>
  </div>
  <div class="modal-body overflow-auto" style="max-height: 400px;">
    @for (item of enderecos; track item.id) {
      <div class="cursor-pointer mb-2 border rounded p-1" (click)="mudarEndereco(item)" style="cursor: pointer">
        <app-endereco [endereco]="item"></app-endereco>
      </div>
    }
    <button class="btn btn-success btn-block mt-3" (click)="abrirModal(novoEndereco)">
      + Cadastrar novo endereço
    </button>
  </div>
</ng-template>

<ng-template #modalDadosIncorretos>
  <div class="modal-header bg-danger text-white">
    <h4 class="modal-title">Atenção!</h4>
    <button type="button" class="close text-white" (click)="modalRef?.hide()">&times;</button>
  </div>
  <div class="modal-body">
    <p><b>Verifique os seguintes itens:</b></p>
    <ul>
      <li>Endereço de entrega selecionado.</li>
      <li>Forma de envio escolhida.</li>
      <li>Dados do cartão de pagamento.</li>
    </ul>
  </div>
</ng-template>

<app-footer></app-footer>